@dColor:#e3c653;
.backgroundSize(@v){
	background-size:@v;
	-webkit-background-size:@v;
	-moz-background-size:@v;
	-ms-background-size:@v;
}
.borderRadius(@radius){
	border-radius: @radius;
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	-ms-border-radius: @radius;
}
.boxShadow(@v) {
	-webkit-box-shadow:@v;
	-moz-box-shadow:@v;
	box-shadow:@v;
}
.transform(@v){
	transform: @v;
	-webkit-transform: @v;
	-moz-transform: @v;
}
.flexbox {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.flexgrow(@v) {
	-webkit-box-flex: @v;
	-moz-flex-grow: @v;
	-webkit-flex-grow: @v;
	flex-grow:@v;
}